# ignore all .a .o files
*.a
*.o
*~
*.m4
config.*
!config.h.in
*.dirstamp
*.cgi
# ignore all files in the data/ directory
/data/
/lib/
autom4te.cache/
src/.deps/
m4/
src/.libs/
wserver/.libs/
# only ignore the following files only in the current directory
/Makefile
/stamp-h1
/src/Makefile
/testing/clifcgi1
/testing/clifcgi2
/testing/fcgi1
/testing/fcgi1.cgi
/wserver/server1
/wserver/server2
/wserver/prueba_cgi
/wserver/appdata
